<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Tucked within an apple orchard on Martha’s Vineyard, Henry’s Animation Studio is an independent stop motion film space dedicated to handcrafted storytelling. Here, miniature sets, sculpted figures, and frame-by-frame precision bring surreal, tactile narratives to life in an environment shaped by nature and artistic intent.</p>
      </div>
      <div class="col-lg-4">
        <p>The studio doubles as a creative workshop—part animation lab, part sculptural playground—where materials are reimagined and techniques evolve with each project. Henry’s work emphasizes process, patience, and the physicality of the medium, offering a deeply personal alternative to digital animation’s polished surfaces. </p>
      </div>
      
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://buymeacoffee.com/henrys_animation_studio" class="btn btn-lg btn-outline">
          <i class="fa fa-donate"></i> Donate Here!
        </a>
      </div>
    </div>
  </div>
</section>
